@using Microsoft.AspNetCore.Components.Forms
<div class="survey">
    @if (ready && PageCount != 0)
    {
        <h2>@Anwsers[PageCount -1].Name</h2>

        @foreach (var item in Anwsers[PageCount -1].SComps)
        {
            <h4>@item.Question</h4>

            @if (item.Type == 0)
            {

                <textarea disabled>@item.TextAnwser</textarea>
            }
            @if (item.Type == 1)
            {
                <p>Du kan vælge flere svarmuligheder</p>
                @foreach (var x in item.MultiAnwsers)
                {
                    <div class="option">
                        <InputCheckbox disabled class="form-check-input rdo" type="radio" @bind-Value="x.Selected" />

                        <p>@x.Text</p>
                    </div>
                }
            }
            @if (item.Type == 2)
            {
                <p>Du kan kun vælge <b>ET</b> svar</p>
                @foreach (var x in item.SingleAnwser)
                {
                    <div class="option">
                        <InputCheckbox disabled @onclick="(() => SingleAwnser(item,x))" class="form-check-input rdo" type="radio" @bind-Value="x.Selected" />
                        <p>@x.Text</p>
                    </div>
                }

            }


        }


    }
    


</div>