@using Microsoft.AspNetCore.Components.Forms

<div class="AnwserPage">
    <div class="TopText"><h2 class="SurveyName">@Survey.Name</h2></div>
    @if (ready)
    {
        @if (Survey.Comps != null)
        {
            @if (Survey.Comps.Count != 0)
            {



                <div class="formdiv">

                    @for (int i = 0; i < Survey.Comps.Count; i++)
                    {
                        var index = i; // Create a local variable for each iteration

                        <div class="question">
                            <h4 class="questionHeader">@Survey.Comps[index].Question</h4>
                            @if (Survey.Comps[index].Type == 0)
                            {
                                // Free Text
                                <textarea disabled class="form-control">@Module.anwsers[index].AnwserText</textarea>

                            }
                            @if (Survey.Comps[index].Type == 1)
                            {
                                // multiple choice
                                if (Survey.Comps[index].MultiAnwsers != null && Survey.Comps[index].MultiAnwsers.Count != 0)
                                {

                                    @for (int k = 0; k < Survey.Comps[index].MultiAnwsers.Count; k++)
                                    {
                                        var kIndex = k;
                                        <div class="option">
                                            <div class="col-auto">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            @{
                                                                string stringId = $"input_{i}_{k}";

                                                                // Split the current answers into a list of integers (if not empty)
                                                                List<int> selectedAnswers = string.IsNullOrEmpty(Module.anwsers[index].AnwserText) ? new List<int>() : Module.anwsers[index].AnwserText.Split(',').Select(int.Parse).ToList();
                                                            }

                                                            @if (selectedAnswers.Contains(kIndex))
                                                            {
                                                                <input id="@stringId" class="form-check-input" checked type="radio">
                                                            }
                                                            else
                                                            {
                                                                <input disabled id="@stringId" class="form-check-input"  type="radio">
                                                            }

                                                     
                                                        </div>
                                                    </div>
                                                    <input disabled placeholder="@Survey.Comps[index].MultiAnwsers[kIndex].Text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    }



                                }
                            }
                            @if (Survey.Comps[index].Type == 2)
                            {
                                // Single Choice
                                if (Survey.Comps[index].SingleAnwser != null && Survey.Comps[index].SingleAnwser.Count != 0)
                                {
                                   
                                        @for (int k = 0; k < Survey.Comps[index].SingleAnwser.Count; k++)
                                        {
                                            var kIndex = k;
                                        <div class="option">
                                            <div class="col-auto">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            @{
                                                               

                                                                // Split the current answers into a list of integers (if not empty)
                                                                List<int> selectedAnswers = string.IsNullOrEmpty(Module.anwsers[index].AnwserText) ? new List<int>() : Module.anwsers[index].AnwserText.Split(',').Select(int.Parse).ToList();
                                                            }

                                                  
                                                                @if (selectedAnswers.Contains(kIndex))
                                                                {
                                                                    <input class="form-check-input" checked type="radio">
                                                                }
                                                                else
                                                                {
                                                                    <input disabled class="form-check-input" type="radio">
                                                                }

                                                           


                                                        </div>
                                                    </div>
                                                    <input disabled placeholder="@Survey.Comps[index].SingleAnwser[kIndex].Text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>

                                        }
                                    



                                }
                            }
                        </div>
                    }


                </div>

            }
        }
    }
</div>

@if (complete)
{
    <div class="abs"></div>
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Success</h5>
                    <button @onclick="closemodal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Thank you. The survey is now complete.</p>

                </div>
                <div class="modal-footer">
                    <button @onclick="closemodal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
}